
  .chat-wrapper{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow: hidden; 
    padding: 2rem 0;
  }
  
  .chat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    width: 50%;
    overflow: auto; 
    padding: 10px;
    margin: 10px;
  }
  
  .user-message {
    background-color: #8496EF;
    color: black;
    align-self: flex-end;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    margin-bottom: 1px; 
  }
  
  .bot-message {
    background-color: #74D3AB;
    color: black;
    align-self: flex-start;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    margin-bottom: 5px; /* Añade espacio de margen entre mensajes */
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px;
    margin-top: 5px; /* Añade espacio de margen arriba del contenedor de entrada */
  }
  
  input[type="text"] {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid forestgreen;
    outline: none;
  }
  
  button {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: aquamarine;
    color: white;
    margin-left: 10px; 
  }
  
  button:hover {
    opacity: 0.8;
  }
  