
  .chat-wrapper{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow: hidden; 
    padding: 2rem 0;
  }
  
  .chat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    width: 50%;
    overflow: auto; 
    padding: 10px;
    margin: 10px;
    border: rgba(0,0,0,0.1) 1px solid ;
    border-radius: 10px;
  }

  .empty-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 50%;
    overflow: auto; 
    padding: 50px 10px ;
    margin: 10px;
    border: rgba(0,0,0,0.1) 1px solid ;
    border-radius: 10px;
  }

  .empty-chat p {
    color: #8C8C8C;
    padding-top: 1rem;
  }

  


  .empty-chat-logo {
    width: 5rem;
    height: 5rem;
    opacity: 0.5;
  }

  p { 
    margin: 0;
  }
  
  .user-message {
    background-color: #8496EF;
    color: black;
    align-self: flex-end;
    margin: 5px 0;
    padding: 1rem;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    margin-bottom: 1px; 
  }
  
  .bot-message {
    background-color: #74D3AB;
    color: black;
    align-self: flex-start;
    margin: 5px 0;
    padding: 1rem;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    margin-bottom: 5px; /* Añade espacio de margen entre mensajes */
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px;
    margin-top: 5px; /* Añade espacio de margen arriba del contenedor de entrada */
  }
  
  /* input[type="text"] {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid forestgreen;
    outline: none;
  } */
  
  button {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50rem;
    border: none;
    outline: none;
    background-color: #74D3AB;
    color: black;
    font-weight: bold;
    margin-left: 10px; 
  }
  
  button:hover {
    opacity: 0.8;
  }
  