.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0 50px 0;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.footer-column {
    padding: 10px;
    text-align: left;
}

.footer-column h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer p, .footer li {
    margin: 5px 0;
}

.social-media {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: flex-start;
}

.social-media li {
    margin-right: 10px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}